.banner {
    display: flex;
    justify-content: center;
    margin: 200px 0;
}

.tulisan {
    /*outline: 2px solid red;*/
    box-sizing: border-box;
    width: 445px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: .1rem;
}

.text {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.img {
    width: 600px;
    border-radius: 7px;
}