.Header {
    height: 75px;
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    margin: 0;
    font-size: 25px;
}

.listNavbar {
    /*outline: 2px solid red;*/
    display: flex;
    padding: 0;
    margin: 0;
    width: 600px;
    justify-content: space-evenly;
}

.listNav {
    list-style: none;
    color: white;
    font-size: 15px;
}

.img {
    width: 22px;
    margin: 0;
}